<!DOCTYPE html>
<html lang="ro">
<head>
    <title>Galerie Origami</title>
    <meta name="description" content="Galerie statică Shop Origami">
    <%- include('../fragmente/head.ejs') %>
</head>
<body>
    <%- include('../fragmente/header.ejs') %>

    <main>
        <%- include('../fragmente/galerie_statica.ejs') %>
    </main>

    <%- include('../fragmente/footer.ejs') %>
</body>
</html>