@media screen and (max-width: 1000px){

    .text-icon{
        display: none;
    }

    .imag-icon{
        display: flex;
    }

    .meniu-principal > li{
        width: 60px;
    }

    .meniu-principal ul a{
        justify-content: center;
        padding-left: 0;
        font-size: 0;
    }

    .meniu-principal ul a i{
        font-size: 1rem;
    }
}