<header id="top">
        <div class="header-top">
            <hgroup>
                <h1>
    <i class="fa-solid fa-heart inima"></i>
    Shop Origami
    <i class="fa-solid fa-fan morisca"></i>
</h1>
                <p class="subtitlu-site">
                    Figurine, hârtie și inspirație pentru pasionații de origami
                </p>
            </hgroup>
        </div>

      <nav>
    <label id="hamburger" for="ch-menu">
        <img src="/resurse/imagini/Hamburger_icon_alb.png" alt="menu">
    </label>
    <input type="checkbox" id="ch-menu">

    <ul class="meniu-principal">
       <li class="are-submeniu">
    <input type="checkbox" id="toggle-produse">

    <label for="toggle-produse" class="buton-submeniu">
        <span class="text-icon">
            <i class="fa-solid fa-box"></i>
            Produse
        </span>
        <span class="imag-icon">
            <i class="fa-solid fa-box"></i>
        </span>
    </label>

    <ul>
        <li>
            <a href="/index#produse">
                <i class="fa-solid fa-shapes"></i>
                Figurine
            </a>
        </li>
        <li>
            <a href="/index#magazin">
                <i class="fa-solid fa-scroll"></i>
                Materiale
            </a>
        </li>
        <li>
            <a href="/index#galerie">
                <i class="fa-solid fa-image"></i>
                Modele
            </a>
        </li>
        <li>
    <% if (locals.paginaCurenta == "despre") { %>
        <a href="/" class="btn btn-primary btn-sm w-100 link-bootstrap-meniu">
            <i class="fa-solid fa-arrow-left"></i>
            Înapoi
        </a>
    <% } else { %>
        <a href="/despre" class="btn btn-primary btn-sm w-100 link-bootstrap-meniu">
            <i class="fa-solid fa-circle-info"></i>
            Despre
        </a>
    <% } %>
</li>
    </ul>
</li>

        <li>
            <a href="#inregistrare">
                <span class="text-icon">
                    <i class="fa-solid fa-user-plus"></i>
                    Înregistrare
                </span>
                <span class="imag-icon">
                    <i class="fa-solid fa-user-plus"></i>
                </span>
            </a>
        </li>

        <li>
            <a href="/#magazin">
                <span class="text-icon">
                    <i class="fa-solid fa-store"></i>
                    Magazin
                </span>
                <span class="imag-icon">
                    <i class="fa-solid fa-store"></i>
                </span>
            </a>
        </li>

        <li>
            <a href="/#evenimente">
                <span class="text-icon">
                    <i class="fa-solid fa-calendar"></i>
                    Evenimente
                </span>
                <span class="imag-icon">
                    <i class="fa-solid fa-calendar"></i>
                </span>
            </a>
        </li>

        <li>
            <a href="/#galerie">
                <span class="text-icon">
                    <i class="fa-solid fa-images"></i>
                    Galerie
                </span>
                <span class="imag-icon">
                    <i class="fa-solid fa-images"></i>
                </span>
            </a>
        </li>

        <li>
            <a href="/#popularitate">
                <span class="text-icon">
                    <i class="fa-solid fa-chart-line"></i>
                    Popularitate
                </span>
                <span class="imag-icon">
                    <i class="fa-solid fa-chart-line"></i>
                </span>
            </a>
        </li>

        <li>
            <a href="/#faq">
                <span class="text-icon">
                    <i class="fa-solid fa-circle-question"></i>
                    Întrebări
                </span>
                <span class="imag-icon">
                    <i class="fa-solid fa-circle-question"></i>
                </span>
            </a>
        </li>

        <li>
            <a href="/#video">
                <span class="text-icon">
                    <i class="fa-solid fa-video"></i>
                    Video
                </span>
                <span class="imag-icon">
                    <i class="fa-solid fa-video"></i>
                </span>
            </a>
        </li>

        <li>
            <a href="/#contact">
                <span class="text-icon">
                    <i class="fa-solid fa-envelope"></i>
                    Contact
                </span>
                <span class="imag-icon">
                    <i class="fa-solid fa-envelope"></i>
                </span>
            </a>
        </li>
    </ul>
</nav>
        
    </header>